<script id="toolbar_controls_template" type="text/x-handlebars-template">
  {{#if catagoriesCheck}}
  <hr>
  <div class = "grid-container">
    <div class = "grid-div">
      <legend class = "toolbar_legend">Categories</legend>
      <input list="category__selectors" name="category__selectors" type="text" id = "category__selector" style="max-width: 7em;" {{#each catagories}}{{#if selected}}value={{name}}{{/if}}{{/each}}>
      <datalist id = "category__selectors">
        {{#each catagories}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </datalist>
      <button id = "category__apply">Apply</button>
    </div>
    <div class = "grid-div">
      <legend class = "toolbar_legend">Global Show</legend>
      <select id = "global__show">
        <option value="true">Show</option>
        <option value="false">Hide</option>
      </select>
      <button class = "global__apply" id = "global__show__apply">Apply</button>
    </div>
  </div>
  <br>
  <div class = "grid-container">
    <div class = "grid-div">
      <legend class = "toolbar_legend">Line Show</legend>
      <select id = "legend__lineShow">
        <option value="true">Show</option>
        <option value="false">Hide</option>
      </select>
      <button class = "global__apply" id = "legend__lineShow__apply">Apply</button>
    </div>
    <div class = "grid-div">
      <legend class = "toolbar_legend">Legend Show</legend>
      <select id = "legend__show">
        <option value="true">Show</option>
        <option value="false">Hide</option>
      </select>
      <button class = "global__apply" id = "legend__show__apply">Apply</button>
    </div>
  </div>
  <br>
  <div class = "grid-container">
    <!--<div class = "grid-div">
      <legend class = "toolbar_legend">Global Analysis</legend>
      <button id = "legend__analysis">Apply</button>
    </div>-->
    <div class = "grid-div">
      <legend class = "toolbar_legend">Global Wizard</legend>
      <button id = "legend__wizard">Apply</button>
    </div>
  </div>
  <hr>
  <h2 id = "selected__category"></h2>
  {{/if}}
  {{#each point_styles_model}}
  <legend class = "toolbar_legend">{{SourceOrDest}} Point Size</legend>
  <input type="number" value ="{{size}}" id = "{{id}}__point__size"></input>
  <button class = "toolbar__apply" id = "{{id}}__point__size__apply">Apply</button>
  <br>
  <br>
  <legend class = "toolbar_legend">{{SourceOrDest}} Point Outline Width</legend>
  <input type="number" value ="{{outline_width}}" id = "{{id}}__point__outline_width"></input>
  <button class = "toolbar__apply" id = "{{id}}__point__outline_width__apply">Apply</button>
  <br>
  <br>
  <div class = "grid-container">
    <div class = "grid-div">
      <legend class = "toolbar_legend">{{SourceOrDest}} Point Color</legend>
      <input type="color" value="{{color}}" id = "{{id}}__point__color">
      <button class = "toolbar__apply" id = "{{id}}__point__color__apply">Apply</button>
    </div>
    <div class = "grid-div">
      <legend class = "toolbar_legend">{{SourceOrDest}} Point Shape</legend>
      <select id = "{{id}}__point__shape" value={{shape}}>
        <option value="circle">Circle</option>
        <option value="square" {{#ifEquals shape "square"}}selected{{/ifEquals}}>Square</option>
        <option value="outline" {{#ifEquals shape "outline"}}selected{{/ifEquals}}>Outline</option>
      </select>
      <button class = "toolbar__apply" id = "{{id}}__point__shape__apply">Apply</button>
    </div>
  </div>
</br>
<div class = "grid-container">
  <div class = "grid-div">
    <legend class = "toolbar_legend">{{SourceOrDest}} Point Show</legend>
    <select id = "{{id}}__point__show" value={{shape}}>
      <option value="true">Show</option>
      <option value="false"{{#unless show}} selected{{/unless}}>Hide</option>
    </select>
    <button class = "toolbar__apply" id = "{{id}}__point__show__apply">Apply</button>
  </div>
  <div class = "grid-div" style = "align:left">

  </div>
</div>

<br>
<hr class = "hr-full">
{{#ifEquals SourceOrDest "Destination"}}
<legend class = "toolbar_legend">Line Show</legend>
<select id = "{{id}}__point__lineShow" value="true">
  <option value="true">Show</option>
  <option value="false">Hide</option>
</select>
<button class = "toolbar__apply" id = "{{id}}__point__lineShow__apply">Apply</button>
{{/ifEquals}}
{{/each}}
</script>
