<script id="upload_template" type="text/x-handlebars-template">
  <div class = "_container">
    <form>
      <input type="file" name="inputFile" id = "inputFile"></input>
      <br>
    </br>
    <button id = 'inputSubmit' type="submit" value="Submit">Upload</button>
    <button id="exportSubmit" type="submit" value="Submit">Export</button>
    <button id = 'exampleSubmit' type="submit" value="Submit" style = "background-color: #008CBA;">Example</button>
  </form>
  <br>
  <div id = "toolbar_controls"></div>
</div>
</script>
