<script id="wizard_table_template" type="text/x-handlebars-template">
  <table style="width:100%; margin-right: 3em;" class = "wizard_table">
    <tr>
      <td class = "wizard_table">SLat</td>
      <td class = "wizard_table">C{{SLat}}</td>
    </tr>
    <tr>
      <td class = "wizard_table">SLng</td>
      <td class = "wizard_table">C{{SLng}}</td>
    </tr>
    <tr>
      <td class = "wizard_table">DLat</td>
      <td class = "wizard_table">C{{DLat}}</td>
    </tr>
    <tr>
      <td class = "wizard_table">DLng</td>
      <td class = "wizard_table">C{{DLng}}</td>
    </tr>
    <tr>
      <td class = "wizard_table">CAT</td>
      <td class = "wizard_table">C{{CAT}}</td>
    </tr>
    <tr>
      <td class = "wizard_table">TXT</td>
      <td class = "wizard_table">C{{TXT}}</td>
    </tr>
  </table>
</script>
