<script id="legend_template" type="text/x-handlebars-template">
  {{#if show}}
  <div class = "legend_body">
    <!--<h2 class="legend_header hover_cursor">Legend</h2>-->
    <table style="width:100%">
      <tr>
        <th>Category</th>
        <th>Type</th>
        <th>Color</th>
      </tr>
      {{#each point_styles_model}}
      {{#if show}}
      <tr>
        <td class = "legend_table">{{catagory}}</td>
        <td class = "legend_table">{{SourceOrDest}}</td>
        <td class = "legend_table">
          <div style="background-color: {{color}};" class="legend-{{shape}}"></div>
        </td>
      </tr>
      {{/if}}
      {{/each}}
    </table>
  </div>
  {{/if}}
</script>
